<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Disciplinas cursadas</h4>
  </div>

    <div class="panel-body">
      <ul class="disok col-lg-24">
        <% if @subjects.empty? %>
            <div class="alert alert-info" role="alert">Nenhum registro encontrado</div>
        <% else %>
            <div class="alert alert-info" role="alert" hidden>Nenhum registro encontrado</div>
        <%end%>
        <% @subjects.each do |subject| %>
        <li><%=subject.name %></li>
        <% end %>
      </ul>
    </div>
    <% if see_edit?(@user) %>
        <%= button_tag "Adicionar disciplinas",id: 'add',   class: "btn btn-default", onclick: 'showDiscipline("'+ user_update_coursed_subject_path(@user)+'")'%>
    <% end %>
</div>
<div class="dis" hidden>
    <ul>
    </ul>
</div>
