<div class="panel panel-default">
  <div class="panel-heading">
    <div class="contentName">
        <h4>Editar grade horária</h4>
    </div>
      <div class="contentButton">
        <% if see_edit?(current_user) %>
            <%= button_to "Concluir edição", [@academic_information.user,@academic_information], :class => "btn btn-primary", :method => :get %>
        <% end %>
      </div>
  </div>
  <div class="panel-body">

<%= render 'form' %>
  </div>
</div>
