<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Editar grade horária</h4>
  </div>
  <div class="panel-body">

<%= render 'form' %>
  </div>
</div>
<%= link_to 'Ver perfil acadêmico', [@academic_information.user,@academic_information] %> |
