<p id="notice"><%= notice %></p>

<h1>Informações acadêmicas</h1>

<br>

<% if not @user.academic_information.nil? %>

  <% @academic_information = @user.academic_information  %>
  <%= render 'academic_informations/show' %>
  <%= render 'timetabling/show' %>

<% elsif @user.eql? current_user or policy(current_user).create?%>

  <%= link_to 'Adicionar informação acadêmica', new_user_academic_information_path(@user) %>

<% end %>
