<% unless @users.empty? %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Email Zenit</th>
    <th>Nome</th>
    <th>Contato</th>
    <th>Perfil</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <%if personal_information? user %>
        <td><%= user.personal_information.name %></td>
        <td> <%= user.personal_information.email %></td>
      <% else %>
        <td>Não possui</td><td>Não possui</td>
      <% end %>
      <td><%= link_to 'Ver perfil', user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <br>
<% else %>
  <h1> Nenhum registro </h1>
<% end %>
