<p id="notice"><%= notice %></p>

<h1>Matérias</h1>

<br>

<% if not @user.subject.nil? %>

  <% @subject = @user.subject  %>
  <%= render 'subjects/show' %>

<% elsif @user.eql? current_user or policy(current_user).create?%>

  <%= link_to 'Adicionar materias', new_user_subject_path(@user) %>

<% end %>
