<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Lista de todos os projetos</h4>
  </div>
<% unless @projects.empty? %>
    <input hidden value="haha"></input>
    <%= grid(@projects, show_filters: :when_filtered) do |project_grid|

        project_grid.blank_slate  do
            '<div class="alert alert-info" role="alert">Nenhum registro encontrado</div>'
        end
        project_grid.column name: 'Nome do projeto', attribute: 'name' do |project|
            project.name
        end
        project_grid.column name: 'Descrição do projeto', attribute: 'description' do |project|
            project.description
        end
        project_grid.column name: 'Nome do gestor', negation: true, assoc: :user, attribute: 'email' do |project|
            project.user.email
        end
   
    end %>
<% else %>
    <h1> Nenhum registro </h1>
<% end %>

</div>
<%= button_to 'Registrar novo projeto', new_project_path, :class => "btn btn-primary", :method => :get %>
