<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
             <h4>Informações Acadêmicas</h4>
       </div>
         <div class="contentButton">
            <% if see_edit?(@academic_information.user) %>
                <%= button_to "Editar informações acadêmicas", edit_user_academic_information_path(@academic_information.user,@academic_information), :class => "btn btn-primary", :method => :get %>
            <% end %>
        </div>
    </div>
    <div class="row">
      <ul class="col-sm-12 info-group">
          <li class='info-group-item'>
            <label>Matrícula:</label>
              <%= @academic_information.registration %>
          </li>
          <li class='info-group-item'>
            <label>Semestre/ano de ingresso na UnB:</label>
              <%= @academic_information.admission_year %>
          </li>
          <li class='info-group-item'>
            <label>Semestre atual:</label>
              <%= @academic_information.current_semester %>
          </li>
      </ul>
    </div>
    
</div>


