<div class="row">
<p class="col-sm-4">
<%#= image_tag @information.image.url(:small), height: 250, width: 150, style: 'border: 1px solid; border-radius: 2px;' %>
</p>
<ul class="col-sm-8 info-group">
	<li class='info-group-item'>
		<label>Registration:</label>
		<%= @academic_information.registration %>
	</li>
	<li class='info-group-item'>
		<label>Admission year:</label>
		<%= @academic_information.admission_year %>
	</li>
	<li class='info-group-item'>
		<label>Current semester:</label>
		<%= @academic_information.current_semester %>
	</li>
</ul>
</div>
<div class="row">
	<div class="col-sm-6">
		<%#= button_to "Editar", edit_user_personal_information_path(@information.user,@information), :class => "btn btn-default", :method => :get %>
		<%#= button_to "Voltar", root_path ,:class => "button", :method => :get %>
	</div>
</div>

