<% @roles_users.each do |role,users| %>
    <h1><%= translate("role."+role) %></h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Ver Perfil</th>
          <th>Editar</th>
        </tr>
      </thead>

      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.email %></td>

            <td><%= link_to 'Perfil', [user,user.personal_information] %></td>
            <td><%= link_to 'Modificar', edit_user_role_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
<% end %>
<% if @roles_users.empty? %>
  <h1> No users </h1>
<% end %>
