<%= form_for(@profissional_information) do |f| %>
  <% if @profissional_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profissional_information.errors.count, "error") %> prohibited this profissional_information from being saved:</h2>

      <ul>
      <% @profissional_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
