<p id="notice"><%= notice %></p>

<h1>Listando as disciplinas</h1>

<div class="tab-content">
  <%= grid(@subject_grid, show_filters: :when_filtered) do |subject|
    subject.blank_slate do
      '<div class="alert alert-info" role="alert">Nenhum registro encontrado</div>'
    end
    subject.column name: 'Nome disciplina', attribute: 'name' do |subject|
      subject.name
    end
    subject.column name: 'Editar', attribute: 'name' do |subject|
      link_to 'Modificar', edit_subject_path(subject)
    end
    subject.column name: 'Deletar', attribute: 'name' do |subject|
      link_to 'Deletar', subject, method: :delete, data: { confirm: 'Você tem certeza?' }
    end

  end %>
</div>

<%= link_to 'Nova matéria ', new_subject_path %>
