<h1>Editing Personal Information</h1>

<%= render 'form' %>

<%= button_to "Mostrar", [current_user,@personal_information],
    :class => "success button", :method => :get %>
<%= button_to "Voltar", root_path ,:class => "button",
    :method => :get %>
