<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Novo estágio</h4>
  </div>
  <div class="panel-body">

    <%= render 'form' %>
  </div>
  <%= link_to 'Voltar', [@professional_profile.user,@professional_profile], class:'btn btn-default' %> 
</div>
