<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Editing Activity</h4>
    </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>

<%= link_to 'Mostrar', @activity %> |
<%= link_to 'Voltar', activities_path %>
</div>
