
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Activity</h4>

  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<%= button_to 'Voltar', activities_path, class: 'btn btn-default', method: :get %>
