<h1>Perfil do usuário</h1>
<div class="medium-6 columns">
    <p>
        <label>
            <strong>Email Zenit:</strong>
            <%= @user.email %>
        </label>
    </p>
</div>
<% if not @user.personal_information.nil? %>

    <% @personal_information=@user.personal_information  %>
    <%= render :partial => 'personal_informations/show' %>

<% elsif @user.eql? current_user or policy(current_user).create?%>

    <%= link_to "Adicionar informações pessoais", new_user_personal_information_path(@user) %>

<% end %>
